$material_skintone : hsl(14, 100%, 70%);
$material_lightpeach : hsl(5, 100%, 75%);
$material_homebackground : hsl(231, 44%, 94%);
$material_lightgreen : hsl(125, 39%, 94%);
$material_lightash : hsl(204, 15%, 94%);

@font-face{
  font-family: "NotoSansKR-Regular";
  src: url("../../public/Fonts/NotoSansKR-Regular-Hestia.woff") format("woff");
  font-weight: normal;
}
@font-face{
  font-family: "NotoSansKR-Bold";
  src: url("../../public/Fonts/NotoSansKR-Regular-Hestia.woff") format("woff");
  font-weight: bold;
}
*{
  margin: 0;
  padding: 0;
  font-family: "NotoSansKR-Bold",sans-serif;
}

.Wrapper{
  
  width: 100%;
  min-height: 100vh;
  height: auto;
  
}

.--Bg-lightpeach{
  background-color: $material_lightpeach;
}
.--Bg-lightblue{
  background-color: $material_homebackground;
}
.--Bg-lightgreen{
  background-color: $material_lightgreen;
}
.--Bg-lightash{
  background-color: $material_lightash;
}

%Flex-Center{
  display: flex;
  justify-content: center;
  align-items: center;
}
