.Filter-Wrapper{
    padding : 10px;
}
.Filter-Header{
    width : 90%;
    margin : 10px auto 0px auto;
    background-color: white;
    height : 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 3px 3px #ccc;
    color :  black;
    padding : 0 40px;
    box-sizing: border-box;
    position: relative;
}

.Filter-Header span{
    font-size: 22px;
    letter-spacing: 0.01em;
}

#FILTER{
    position: absolute;
    top : 11px;
    left : 11px;
    width : 24px;
    height : 24px;
    margin-right : 20px;
}

.Filter-Item{
    margin-top : 20px;
    box-shadow: 0 3px 3px #ccc;
    color :  cornflowerblue;
    width : 90%;
    margin : 20px auto 0px auto;
    background-color: white;
    height : 45px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.Filter-Item div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .Query-Icon{
        width : 30px;
        height : 30px;
        transition: all 300ms ease;   
    }

}

.Filter-Item div:nth-child(1),
.Filter-Item div:nth-child(3){
    transition: all 300ms ease;
}
.Filter-Item div:nth-child(1){
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.Filter-Item div:nth-child(3){
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Filter-Item div:nth-child(2){
    color : white;
    background-color: cornflowerblue;
    border-right : 2px solid #ccc;
    border-left : 2px solid #ccc;
}
.--Icon-Selected{
    background-color: cornflowerblue;
    color : white;
}