.EditTools-Grid-Container{

    height : 40px;
    box-shadow: 0px 3px 3px black;
    display: grid;
    grid-template-columns: 200px 200px 200px 1fr;
    
    .Nested-Grid{

        display: grid;
        grid-template-columns: repeat(5,40px);
        height : 43px;

        .Format-Size{
            position: relative;
        }
       

        .EditTools-Grid-Container__Item{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width : 40px;
            height : 40px;
            box-sizing: border-box;
            cursor: pointer;

            .Color-Picker-Box{
                position: absolute;
                top : 44px;
                left : 0;
            }

            .CMD_BTN{
                background: transparent;
                border : none;
                outline: none;
                width :  100%;
                height : 100%;
                cursor: pointer;
            }

            .EditTools-Item__Icon{
                width : 18px;
                height : 18px;
                transition : all 100ms;
            }
            .EditTools-Item__Icon:hover {
                width : 26px;
                height : 26px;
            }
    
        }

        #FaUnlink{
            width : 12px;
            height : 12px;
            transition: all 100ms;
        }
        #FaUnlink:hover{
            width : 16px;
            height : 16px;
        }

        #supButton{
            font-size: 14px;
            border : none;
            outline: none;
            background : transparent;
            cursor : pointer;
            transition : all 100ms;
        }
        #supButton:hover{
            font-size: 18px;
        }
        
       
       

    }

    .Nested-Flex-View{

        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom : 3px;

        .View-Item{

            cursor: pointer;
            color : hsl(225, 6%, 13%);
            border : 1px solid hsl(225, 6%, 13%);
            border-radius: 8px;
            height : 25px;
            display: flex;
            align-items: center;
            width : 100px;
            justify-content: center;
            transition : all 250ms ease;

        }
        .View-Item:hover{

            background-color : hsl(225, 6%, 13%);
            color : hsl(204, 16%, 94%);
            font-weight: bold;

        }

        .View-Item:nth-child(2){

            margin : 0px 20px;

        }

        .--View-Clicked{

            background-color : hsl(225, 6%, 13%);
            color : hsl(204, 16%, 94%);
            font-weight: bold;

        }
    }


}

.Title-Row{
    height : 50px;
    border-top : 1px solid black;
    background-color: rgb(237, 240, 242);
    box-shadow: 0px 3px 3px black;
    display: flex;
    align-items: center;
    padding-left : 15px;

    .Title-Row__Input-Group{

        display: flex;
        align-items: center;
        background-color: white;
        display: inline-block;
        height : 40px;
        width : 520px;
        border-radius: 4px;
        position: relative;

        .Title-Row__Input-Group__Input{
            
            height : 100%;
            width : 100%;
            outline: none;
            border: none;
            border-radius: 4px;
            padding-left : 15px;
            text-align: center;
            color :  rgb(31, 32, 35);
            font-size : 12pt;
            
        }
        .Title-Row__Input-Group__Input:focus{
            border : 1px solid #ccc;
        }
        
        .Title-Row__Input-Group__Icon{
        
            position: absolute;
            width: 30px;
            height: 30px;
            top: 4px;
            right: -8px;
            transition : color 500ms ease;
            color : #ccc;       
            cursor: pointer;

        }
        .--Input-Active{
            border : 1px solid #ccc;
            
        }
        .--Icon-Active{
            color :  rgb(31, 32, 35);
        }

    }

}


.--Hide{
    display: none;
}
.--Show{
    display: block;
}

#EDITOR , #EDITOR_HTML{

    overflow-y : hidden;
    height : calc(100vh - 156px);
    box-sizing: border-box;

}

#EDITOR:focus{

    border: none;
    outline: none;
    
}

#RICH_TEXT_AREA{
    width : 100%;
    height : 100%;
}

.Resize-Wrapper{
    position: relative;
    border : 2px solid black;
    display: inline;
}
.Resize-Bullet{
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width : 15px;
    height : 15px;
    border : 2px solid black;
}

#FormatSizeList{
    position : absolute;
    top : 50px;
    left : calc(50% - 20px);
    max-height: 200px;
    overflow-x : hidden;
    overflow-y : auto;
    width : 40px;
    box-sizing: border-box;
    border : 1px solid #ccc;
    padding-top : 10px;
    box-shadow: 2px 2px 2px grey;
}
#FormatSizeList ::-webkit-scrollbar{
    width : 0 !important;
    display: none;
}
.Format-Size-li{
    width : 100%;
    text-align: center;
    font-size: 14px;
    transition: all 100ms;
    margin-bottom: 3px;
}
.Format-Size-li:hover{
    color : white;
    background : rgb(31, 32, 35);    
}
.top-pointing-triangle{
    position: absolute;
    top : 42px;
    left : 25%;
    transform: rotate(45deg);
    width : 16px;
    height : 16px;
    background: rgb(255,255,255);
    border : none;
    border-top : 1px solid #ccc;
    border-left : 1px solid #ccc;
    z-index: 5;
}

/* #Media Queries
================================================== */
/* Large Desktop */
@media only screen and (min-width: 1441px) {

}
/* Smaller that standard */
@media only screen and (min-width: 959px) and (max-width: 1440px) {

}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}
