$material_tomato : hsl(1, 83%, 63%);
$material_skyblue : hsl(207, 89%, 68%);
$material_deepblue : hsl(212, 80%, 42%);
$material_deepblue2 : hsl(200, 97%, 45%);
$material_shadow : hsl(200, 19%, 18%);
$material_gray : hsl(0, 0%, 88%);
$material_deeppurple : hsl(267, 75%, 31%);
$material_bluegrey : hsl(200, 18%, 46%);
$material_lightgrey : hsl(200, 15%, 73%);
$material_lightred : hsl(339, 100%, 48%);
$material_grey : hsl(200, 18%, 26%);
$material_palegreen : hsl(151, 100%, 45%);
$material_deepblack : hsl(225, 6%, 13%);

::-webkit-scrollbar{
  width : 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 2px;
 } /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 26%);
  border-radius: 2px;

} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
  display: none;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

.Home-Grid-Container{
    display: grid;
    height : 100vh;
}

.Home-Grid-Container__Item{
  padding-top : 65px;
  min-height: calc(100vh - 65px);
  height : calc(100vh - 65px);
}

/* #Media Queries
================================================== */
/* Large Desktop */
@media only screen and (min-width: 1441px) {

  .Home-Grid-Container{

    grid-template-columns: 300px 1fr 350px;
    
    .Home-Grid-Container__Item:nth-child(1){
      border-right: 1px solid #ccc;
    }
    .Home-Grid-Container__Item:nth-child(2){
        
    }
    .Home-Grid-Container__Item:nth-child(3){
  
      background-color: #1f2023;

    }

}

}
/* Smaller that standard */
@media only screen and (min-width: 959px) and (max-width: 1440px) {

}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}