$material_tomato : hsl(1, 83%, 63%);
$material_skyblue : hsl(207, 89%, 68%);
$material_deepblue : hsl(212, 80%, 42%);
$material_shadow : hsl(200, 19%, 18%);
$material_gray : hsl(0, 0%, 88%);
$material_deeppurple : hsl(267, 75%, 31%);
$material_bluegrey : hsl(200, 18%, 46%);
$material_lightgrey : hsl(200, 15%, 73%);
$material_lightred : hsl(339, 100%, 48%);
$material_grey : hsl(200, 18%, 26%);
$material_palegreen : hsl(151, 100%, 45%);
$border-width : 3px;

.--Modal-hide {
  display: none;
}
.--Modal-show {
  display: block;
}

.LoginBox{
  margin-bottom: 150px;
  width : 350px;
  border-radius: 6px;
  // border : $border-width solid $material_shadow;
  height : 400px;
  background-color: hsla(0,0%,98%,0.85);
  box-shadow: 6px 6px 3px $material_shadow;
  .User{
    margin-top : -64px;
    text-align: center;
  }
  .circle{
    border-radius: 50%;
    background-color: white;
    color : $material_shadow;
    box-shadow: 0 6px 6px $material_shadow;
    z-index: 2;
  }
  .Header{
    text-align: center;
    padding : 20px;
  }
  .Header__Text{
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 2px;
    color : $material_shadow;
  }

  .Input-Row{
    text-align: center;
  }
  .Input-Row:nth-child(1){
    margin-bottom : 7px;
  }
  .Input-Row__Input{
    width : 240px;
    height : 40px;
    border-radius: 8px;
    border : 2px solid #ccc;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    
  }
  .Input-Row__Input:focus{
    outline : none;
    border : 2px solid $material_shadow;
  }
  .--ShadowBorder{
    border : 2px solid $material_shadow;
  }
  .Input-Row__Left{
    margin-left: 54px;
    margin-top : 14px;
  }
  .Input-Row__Right{
    margin-left : 75px;
    
  }
  .Input-Row__Text{
    font-weight : bold;
    font-size : 14px;
  }
  .Input-Row__Text a{
    color : black;
    text-decoration: none;
  }
  .Input-Row__Text a:hover{
    color : $material_deepblue;
  }

  .Button-Row{
    text-align: center;
    padding : 30px 0;
  }
  .Button-Row__Button{
    cursor: pointer;
    border: none;
    width: 240px;
    height : 40px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    color : white;
    transition: color 0.25s ease-out;
  }
  .Button-Row__Button:focus{
    outline : none;
  }
  .--Login-Button{
    background-color: $material_tomato;
  }
  .--Login-Button:hover{
    color: $material_shadow;
  }
  .--Register-Button{
    margin-top : 5px;
    background-color: $material_shadow;
  }
  .--Register-Button:hover{
    color : $material_tomato;
  }


}

.Modal-Wrapper{
  position: fixed;
  z-index: 1;
  width : 100%;
  height : 100%;
  top : 0;
  left : 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


  .Modal-Content {
    background-color: white;
    margin: 130px auto 0 auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height : auto;           
    border-radius: 12px;
    box-shadow: 5px 5px 5px $material_shadow;
  }

  .Modal-Header__Block{
    cursor : pointer;
    background-color : white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width : calc(50% - 20px);
    height : 25px;
    margin-top : -20px;
    transition: color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
    
  }

  .Modal-Header__Text{
    font-size: 22px;
  }
  
  .--Top-Left-Block{
    margin-left : -20px;
    border-top-left-radius: 12px;
    color : $material_shadow;
    box-shadow: inset 0 0 1px $material_shadow;
    
  }
 
  .--UnAvailable{
    opacity: 0.5;  
  }
  .--Input-UnAvaliable{
    background-color: white;
  }
  .--Available{
    opacity: 1;
    color : $material_shadow;
    background-color: $material_palegreen;
  }

  .--Top-Right-Block{
    margin-right : -20px;
    border-top-right-radius: 12px;
    color : white;
    box-shadow: inset 0 0 1px $material_lightred;
    background-color: $material_lightred;
  }

  .Modal-Body__Row{
    text-align: center;
  }
  .User_Img{
    margin-top : 20px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width : 150px;
    height : 150px;
    border : 3px solid #ccc  ;
    border-radius: 50%;
  }
  .User_Img img{
    margin-top : 20px;
    width: 100%;
    height : 100%;
  }
  .Form-Grid{
    display: grid;
    height : auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-row-gap: 15px;
    padding : 0 20px;
    margin-top : 20px;
  }
  .Form-Input-Row{
    margin-bottom: 5px;
  }
  .Form-Label{
    color : $material_grey;
    display: block;
  }
  .Form-Input{
    display: block;
    height : 30px;
    width : 100%;
    text-align: center;
    outline: none;
    border-radius: 12px;
    border : 2px solid $material_grey;
    color : $material_shadow;
    transition : background-color 0.25s ease-out
  }

  .Loader-Box{
    display: flex;
    align-items: center;
    justify-content: center;
    height : 500px;
  }
}
