.TempDocLoader-Container{
    position : absolute;
    left : 15px;
    top : 15px;
    width : 535px;
    height : 300px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 2px 2px 5px #ccc;
}